@model TEF.Models.TestAccRecord

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";}


@if (Model != null)
{
    int cur = Model.Id * 100 / ViewBag.MaxQ;
    int prg = Convert.ToInt16(ViewBag.Score) *100/ ViewBag.MaxQ;
    <div class="container text-center">
        <div class="alert alert-success text-center" role="alert">
            Вы ответили на @ViewBag.CurrQ вопросов из @ViewBag.MaxQ. Правильно - @ViewBag.Score (@prg %)
        </div>
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @cur%" aria-valuenow="@cur" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 100%;">
            <div class="card-header">Вопрос №@Model.Id</div>
            <div class="card-body text-primary">
                <h5 class="card-title">@Html.DisplayFor(model => model.Desc)</h5>

                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@


                @using (Html.BeginForm("RecordRnd", "TestAccRecords", FormMethod.Post))
                {


                    <input name="Qid" value="@Model.Id" type="hidden" />
                    <input name="Score" value="@ViewBag.Score" type="hidden" />
                    <input name="MaxQ" value="@ViewBag.MaxQ" type="hidden" />
                    <input name="SubjectId" value="@ViewBag.SubjectId" type="hidden" />
                    <input name="Subject" value="@ViewBag.Subject" type="hidden" />
                    <div class="container text-left">
                        @{

                            foreach (var answerChoice in Model.Answers.Split('|'))
                            {
                                if (answerChoice.Contains(';'))
                                {
                                    var ans = answerChoice.Split(';');
                                    <div class="form-check">
                                        @Html.CheckBox("exampleRadios", false)
                                        Дт @ans[0] Кт @ans[1]
                                    </div>
                                }
                                else
                                {
                                    <div class="form-check">
                                        @Html.CheckBox("exampleRadios", false)
                                        @answerChoice
                                    </div>
                                }

                            }


                        }
                    </div>

                    <button type="submit" class="btn btn-outline-success">Подтвердить</button>

                    <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("RecordRnd", "TestAccRecords")'">Пропустить</button>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="card border-primary mb-3" style="max-width: 100%;">
        <div class="card-header">Вы ответили на все вопросы. Из них на @ViewBag.Score правильно.</div>
    </div>
}

