@model TEF.Models.TestAccRecord

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";}

@if(Model != null) {
    int cur = Model.Id * 100 / 7;
    <div class="container text-center">
        <div class="alert alert-success text-center" role="alert">
            Вы ответили на @Model.Id вопросов из 7. Правильно - Х(Х %)
        </div>
        <div class="progress mb-3">
            <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @cur%" aria-valuenow="@cur" aria-valuemin="0" aria-valuemax="100"></div>
        </div>

        <div class="card border-primary mb-3" style="max-width: 100%;">
            <div class="card-header">Вопрос №Х</div>
            <div class="card-body text-primary">
                <h5 class="card-title">@Html.DisplayFor(model => model.Desc)</h5>
                @*<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>*@
                @Html.DisplayFor(model => model.Answers)
                <div class="container text-left">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios1">
                            Дт @Html.DisplayFor(model => model.Dt) Кт @Html.DisplayFor(model => model.Ct)
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Дт 19 Кт 60
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
                        <label class="form-check-label" for="exampleRadios3">
                            Дт 19 Кт 63
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" value="option4">
                        <label class="form-check-label" for="exampleRadios4">
                            Дт 19 Кт 71
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" value="option5">
                        <label class="form-check-label" for="exampleRadios5">
                            нет правильного ответа
                        </label>
                    </div>
                </div>
                <button type="button" class="btn btn-outline-success" onclick="location.href='@Url.Action("RecordRnd","TestAccRecords",new { id=Model.Id+1 })'">Подтвердить</button>

                <button type="button" class="btn btn-outline-secondary" onclick="location.href='@Url.Action("RecordRnd","TestAccRecords")'">Пропустить</button>
            </div>
        </div>
    </div>
    }
        else
        {
        <div class="card border-primary mb-3" style="max-width: 100%;">
            <div class="card-header">Вы ответили на все вопросы</div>
        </div>
        }
  
